{% extends "layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block main %}
    <form action="/watchlist" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit" onclick=reload()>Add to Watchlist</button>
    </form>

    <table id="table" class='table table-striped' data-show-auto-refresh="true">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for ticker in watching %}
            <tr>
                <td>{{ ticker['symbol'] }}</td>
                <td>{{ ticker['price'] }}</td>
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>
{% endblock %}